.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.fadeout {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.fadein {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}

.col-12 {
  padding-left: 6% !important;
  padding-right: 6% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  width: 88% !important;
  align-self: center !important;
}

.leadd {
  font-size: 75% !important;
}

.fatfont {
  font-weight: bold !important;
}

.pict { 
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
  width: 100% !important;
}

.btn-outline-secondary {
  width: 100%;
}

.jumbotron {
  padding: 2% 2% !important;
}

.jumbotron-fluid {
  margin-bottom: 2%;
}

p {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}

.container {
  padding-right: 4% !important;
  padding-left: 4% !important;
}

.col-0 {
  visibility: hidden;
}

.col-xl-3 .col-md-3 {
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
  width: 18% !important;
}

.elem {
  width: 100% !important;
}

.border {
  padding-right: 6% !important;
  flex: 0 0 0% !important;
  max-width: 0% !important;
}

 .row {
  width: 100% !important;
  margin-left: 0% !important;
 }

 .textt {
   text-align: center !important;
   align-self: center !important;
   position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
 }
 
 .llogo {
    align-self: center !important;
 }